.logo {
  display: flex;
  justify-content: flex-end;
  /* text-align: right; */
  gap: 30px;
  color: black
}

.homeBackground {
  /* height: 93vh;
  width: 100vw */
  border-radius: 300px;
}

.bgContainer {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-self: center;
  padding-top: 5vh;
}

.notfound {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  background-image: url(https://images.unsplash.com/photo-1620336655052-b57986f5a26a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
}

/* .footer {
  background-color: rgb(180, 169, 169);
} */

.toon-index-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  /* background-color: rgb(77, 110, 240); */
  margin: 2rem 0;
  /* box-shadow: 0px 0px 150px 20px gold; */
}

.toon-show-img {
  height: 40vh;
  width: 60vw;
  object-fit: contain;
}