.logo {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  color: black
}

.homeBackground {
  border-radius: 300px;
  max-height: 50%;
  max-width: 50%;
  margin-top: 10vh;
  background-image: linear-gradient(rgb(151,253,254),rgb(15,59,120))
}

.homeMain {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgb(151,253,254),rgb(15,59,120))
}

.bgContainer {
  /* height: 70%;
  width: 40%; */
  display: flex;
  justify-content: center;
  align-self: center;
  padding-top: 5vh;
}

.notfound {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  background-image: url(https://images.unsplash.com/photo-1620336655052-b57986f5a26a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
}


.card {
  background-color: rgb(128, 221, 255);
  margin: 3rem 0;
  box-shadow: 0px 0px 100px 20px rgb(12, 31, 67);
}

/* SHOW PAGE */
.toon-show-img {
  height: 40vh;
  /* width: 30vw; */
  object-fit: cover;
  box-shadow: -20px 20px 20px 1px rgb(8,38,95);
  /* border-radius: 300px; */
}

.showPageMain {
  height: 98vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  /* background-color: rgb(55,156,234); */
  background-image: linear-gradient(rgb(151,253,254),rgb(15,59,120))
}

.ageText {
  font-weight: 200;
  font-size: 2.5vmin;
}

.ageBold {
  font-size: 3vmin;
}

/* INDEX */
.toon-index-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.index-images {
  display: flex;
  align-items: center;
  height: 30vh;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  /* background-color: rgb(55,156,234); */
  background-image: url("../src/assets/biggerlogo.gif");
  background-position: center;
  /* background-size: cover; */
}

.indexHeader {
  margin-top: 8vh;
  text-align: center;
  position: relative;
}

/* NEW */
.addingForm {
  width: 100vw;
  height: 90vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* left: 30px; */
  font-weight: bolder;
}

/* Create page form input box */
div.col-sm-10 {
  width: 60vw;
}

/* Header and Footer */
div.container-fluid{
  background-color: rgb(97, 97, 97);
  display: flex;
  flex-wrap: nowrap;
}

div.leftSide.container {
}

.navbar-toggler {
}

/* NavBar Links */
li.nav-item {
  transition: all .2s ease-out;
}

li.nav-item:hover {
  color: black;
transform: scale(1.1);
}

/* NOT FOUND */
.errorMessage {
  font-size: 10vmax;
}

/* flicker animation on header */
.flicker {
  /* font-size: 6rem; */
  /* font-family: 'Merienda', sans-serif; */
  /* margin: 1rem auto; */
  color: rgb(28, 32, 143);
  background: -webkit-gradient(linear, left top, right top, from(#e6e6e6), to(#ffffff), color-stop(0.8, #ffffff)) no-repeat;
  background: gradient(linear, left top, right top, from(rgb(254, 254, 254)), to(rgb(255, 255, 255)), color-stop(0.8, #fff)) no-repeat;
  background-size: 15px 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: flick 2s infinite;
}
@keyframes flick {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}